@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li,
ul {
  list-style-type: none;
}

.container {
  width: 80%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.hero {
  position: sticky;
  width: 100vw;
  z-index: 999;
  top: 0;
}

div.hero-body {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.h-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: .4em;
}

.box,
.notification {
  margin: 0 auto 4rem auto;
  max-width: 300px;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
  transition: 50ms ease-in-out;
}

/* quote */
.quote-box {
  margin-top: 15%;
}

.quote {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
}

.quote-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.author {
  text-align: right;
  font-weight: 500;
  font-size: 1em;
}

.icons {
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.copy:hover,
.request:hover,
.share:hover {
  color: #ff3860;
}

.hidden {
  display: none;
}

p.logo {
  font-size: 1.5rem;
  font-weight: 500;
}

/* navigation */
.nav {
  position: absolute;
  background-color: #ffd7f3fa;
  color: #000;
  top: 4.5rem;
  left: 0;
  height: calc(100vh - 4.5rem);
  min-width: 40%;
  z-index: 99;
  padding: 1em;
}

.nav-item {
  width: 100%;
  font-size: 1.2em;
  padding: .5em;
  border-bottom: 1px solid #555;
}

.nav-item:hover {
  color: #ff3860;
}

.nav-icon {
  margin-right: .3rem;
}

.hide,
i.hide {
  display: none;
}

.show {
  display: block;
}

/* footer */
footer {
  background-color: #ff3860;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  padding: .3rem;
  margin-top: 1.5rem;
}

.fa-linkedin,
.fa-github {
  margin-left: .4rem;
  color: #fff;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: #555;
}

/* form */
.sign-in {
  border: 1px solid #e4e4e4cc;
  box-shadow: 0px 3px 8px 1px rgba(179, 179, 179, 0.75);
  background-color: #fff;
  top: calc(25%);
  bottom: 50%;
  transform: translate(-1%, -100%);
  width: 65%;
  padding: 2rem;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 1.3rem;
}

input {
  width: 100%;
  border: 1px solid #e4e4e4fd;
  padding: .5rem;
}

.sub-title {
  font-size: 1rem;
  margin: .5rem;
  text-align: center;
  color: #ccc;
  color: #ff3860;
  font-weight: 500;
}

.sign-up {
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;
}

.right {
  text-align: right;
}

#loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #ff3860;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* hide the loader when all elements are loaded */
body.loaded #loader {
  display: none;
}

@media (min-width: 768px) {
  .quote {
    padding: 2rem;
  }

  .subtitle {
    display: block;
  }

  .box,
  .notification {
    margin: 0 auto;
    max-width: 500px;
  }

  .logo {
    font-size: 2rem;
  }

  .nav {
    min-width: 25%;
  }

  /* form */
  .sign-in {
    width: 35%;
    margin: 0 auto;
  }



}